
<div class="container">
  <div style="width:100%; height:50px">
  </div>

  <div id="<%= dom_id question %>"> 
    <%= render "questions/toggle_to_bookmark", as: :question %>
    <%= render "title", as: :question %>

    <%= render "body" %>
    
  </div> 

</div>
