<% if rodauth.logged_in? %>
  <style>
    .readlist{
      background-color:transparent;
      border:none;
      margin:0 5px;
      display:flex; 
      align-items: center;
      color:#AAA;
    } 
    .readlist:hover{
      color:#777;
    } 
    .readlist_box {
      position:relative;
      background-color:#EFEFEF;
      border-radius:7px;
      justify-content:center;
      padding:2px 6px;
      font-size:11px;
    }
    .readlist_box .close_button {
      border-radius:100%;
      border: none;
      background-color:#FFF;
      position:absolute;
      bottom:27px;
      right:6px;
      display:none;
    } 
    .readlist_box:hover .close_button {
      border-radius:100%;
      border: none;
      background-color:#FFF;
      display:block;
    }  
    .readlist_box:hover .close_button:hover{
      background-color:#EFEFEF;
    }  
    .readlist:hover{
      
    } 
    .readlist .open_book{
      display:none;
    } 
    .readlist:hover .open_book{
      display:block;
    } 
    .readlist .close_book{
      
    } 
    .readlist:hover .close_book{
      display:none;
    } 
    .open .readlist{
      
    } 
    .open .readlist:hover{
      
    } 
  </style>
  <div class="readlist_box">
    <%= button_to question_add_to_readlist_url(@question), class: "readlist", method: :put do %>
      <div style="display:flex; align-items:center;">
        <% if current_account&.voted_for? @question, vote_scope: :readlist %>
          <% if current_account&.voted_down_on? @question, vote_scope: :readlist %>
            <svg width="24" height="24" viewBox="0 0 32 32"><g fill="none"><path fill="#B4ACBC" fill-rule="evenodd" d="M16 8.05A3.49 3.49 0 0 1 18.5 7h8c.743 0 1.39.404 1.734 1.003c.07.121.096.26.096.4v2.294L29 25.5a2.5 2.5 0 0 1-2.5 2.5h-21A2.5 2.5 0 0 1 3 25.5l.67-14.803V8.403c0-.14.026-.279.096-.4A1.999 1.999 0 0 1 5.5 7h8c.98 0 1.865.402 2.5 1.05Z" clip-rule="evenodd"/><path fill="#0074BA" d="M17.732 30H28.5c.83 0 1.501-.678 1.501-1.505V27.44c0-.827-.67-2.441-1.501-2.441h-25C2.671 25 2 26.614 2 27.441v1.064C2 29.332 2.67 30 3.501 30h10.767a2 2 0 0 0 3.464 0Z"/><path fill="#00A6ED" fill-rule="evenodd" d="M3.501 10H14v1h4v-1h10.499c.83 0 1.501.668 1.501 1.495v16c0 .827-.67 1.505-1.501 1.505H17.732a2 2 0 0 1-3.464 0H3.5c-.829 0-1.5-.668-1.5-1.495v-16.01C2 10.668 2.67 10 3.501 10ZM17.5 27.5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0Z" clip-rule="evenodd"/><path fill="#B4ACBC" d="M13 8H5.803a1.5 1.5 0 0 0-1.248.668L3 11v14.5A1.5 1.5 0 0 0 4.5 27h23a1.5 1.5 0 0 0 1.5-1.5V11l-1.555-2.332A1.5 1.5 0 0 0 26.197 8H19v3h-6V8Z"/><path fill="#F3EEF8" d="M5.5 8h8a2.5 2.5 0 0 1 2.5 2.5V27l-.447-.894A2 2 0 0 0 13.763 25H5.5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1Zm13 0h8a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1h-8.264a2 2 0 0 0-1.736 1.007V9c.456-.607 1.182-1 2-1Z"/></g></svg>
          <% else %>
            <svg width="24" height="24" viewBox="0 0 32 32"><g fill="none"><path fill="#533566" d="M8 2h17a2 2 0 0 1 2 2v22H8V2Z"/><path fill="#D3D3D3" d="M5.5 26.5H27V29h-.5l-.5.5H5.5v-3Z"/><path fill="#321B41" d="M6.5 2A1.5 1.5 0 0 0 5 3.5V28h1a1 1 0 0 1 1-1h1V2H6.5Z"/><path fill="#6B438B" d="M6.5 26A1.5 1.5 0 0 0 5 27.5v1A1.5 1.5 0 0 0 6.5 30h19a1.5 1.5 0 0 0 1.415-1H7a1 1 0 1 1 0-2h20v-1H6.5Z"/><path fill="#FF6DC6" d="M24.06 4.5a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-.5a.5.5 0 0 1-.5-.5v-2ZM12.5 18a.5.5 0 0 0-.5.5v.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-.5a.5.5 0 0 0-.5-.5h-2Zm4 5a.5.5 0 0 0-.5.5v.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-.5a.5.5 0 0 0-.5-.5h-2ZM12.44 5.646a.5.5 0 0 0 0 .708l.353.353a.5.5 0 0 0 .707 0l1.414-1.414a.5.5 0 0 0 0-.707l-.353-.354a.5.5 0 0 0-.707 0l-1.415 1.414Zm3.914 4.708a.5.5 0 0 1 0-.708l1.414-1.414a.5.5 0 0 1 .707 0l.353.354a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 0 1-.707 0l-.354-.354Zm5 3a.5.5 0 0 0-.708 0l-.353.353a.5.5 0 0 0 0 .707l1.414 1.414a.5.5 0 0 0 .707 0l.354-.353a.5.5 0 0 0 0-.707l-1.415-1.415Zm3.06 4l1.414 1.414a.5.5 0 0 1 0 .707l-.353.353a.5.5 0 0 1-.707 0l-1.415-1.414a.5.5 0 0 1 0-.707l.354-.353a.5.5 0 0 1 .707 0Zm-14.914-4a.5.5 0 0 0-.707 0l-.353.353a.5.5 0 0 0 0 .707l1.414 1.414a.5.5 0 0 0 .707 0l.353-.353a.5.5 0 0 0 0-.707L9.5 13.354Z"/><path fill="#9B9B9B" d="M9.5 4.353a.5.5 0 0 0-.707 0l-.353.354a.5.5 0 0 0 0 .707l1.414 1.414a.5.5 0 0 0 .707 0l.354-.353a.5.5 0 0 0 0-.707L9.5 4.353ZM12 9.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-.5Zm4 5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-.5Zm4.646-10.146a.5.5 0 0 1 .708 0l1.414 1.414a.5.5 0 0 1 0 .707l-.354.354a.5.5 0 0 1-.707 0l-1.414-1.415a.5.5 0 0 1 0-.707l.354-.353Zm3.829 4a.5.5 0 0 0-.707 0l-.354.353a.5.5 0 0 0 0 .707l1.414 1.415a.5.5 0 0 0 .708 0l.353-.354a.5.5 0 0 0 0-.707l-1.414-1.414Zm-12.121 16a.5.5 0 0 1 0-.707l1.414-1.415a.5.5 0 0 1 .707 0l.353.354a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 0 1-.707 0l-.353-.353ZM9.427 17a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h.5a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-.5Zm14.634 5.5a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-.5a.5.5 0 0 1-.5-.5v-2ZM20.5 18a.5.5 0 0 0-.5.5v.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-.5a.5.5 0 0 0-.5-.5h-2Z"/><path fill="#5092FF" d="M16.75 5a.75.75 0 0 0 0 1.5h1.5a.75.75 0 0 0 0-1.5h-1.5ZM9.677 8a.75.75 0 0 0-.75.75v1.5a.75.75 0 0 0 1.5 0v-1.5a.75.75 0 0 0-.75-.75Zm15.134 5a.75.75 0 0 0-.75.75v1.5a.75.75 0 0 0 1.5 0v-1.5a.75.75 0 0 0-.75-.75ZM20 9.75a.75.75 0 0 1 .75-.75h1.5a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75Zm-7.47 5.78a.75.75 0 0 1 0-1.06l1.061-1.061a.75.75 0 0 1 1.06 1.06l-1.06 1.061a.75.75 0 0 1-1.06 0Zm4 2.94a.75.75 0 1 0 1.061 1.06l1.06-1.06a.75.75 0 0 0-1.06-1.061l-1.06 1.06Zm3.94 4.06a.75.75 0 0 1 1.06 0l1.061 1.061a.75.75 0 1 1-1.06 1.06l-1.061-1.06a.75.75 0 0 1 0-1.06Zm-10.793 0a.75.75 0 1 0-1.06 1.061l1.06 1.06a.75.75 0 1 0 1.06-1.06l-1.06-1.06Z"/></g></svg>
          <% end %>
        <% else %>
          <div class="open_book">
            <svg width="24" height="24" viewBox="0 0 32 32"><path fill="#AAA" d="M4 9.5V9a1.5 1.5 0 0 1 1.5-1.5h8c1.043 0 1.963.533 2.5 1.341A2.997 2.997 0 0 1 18.5 7.5h8A1.5 1.5 0 0 1 28 9v.5h.499c1.105 0 2.001.89 2.001 1.995v16l-.001.067v.933c0 .827-.67 1.505-1.501 1.505H17.732a1.999 1.999 0 0 1-3.464 0H3c-.83 0-1.501-.668-1.501-1.495v-17.01c0-1.105.896-1.995 2.001-1.995H4Zm1.5-1A.5.5 0 0 0 5 9v15a.5.5 0 0 0 .5.5h8.264a2.5 2.5 0 0 1 1.736.701V10.5a2 2 0 0 0-2-2h-8Zm11 2v14.701a2.5 2.5 0 0 1 1.736-.701H26.5a.5.5 0 0 0 .5-.5V9a.5.5 0 0 0-.5-.5h-8a2 2 0 0 0-2 2Zm-.498 15.378h-.004l.002.004l.002-.004ZM3.322 10.516a.995.995 0 0 0-.822.98v16.009c0 .55.445.995 1.001.995h11.055l.144.25a1.5 1.5 0 0 0 2.6 0l.144-.25h11.055c.552 0 1.001-.451 1.001-1.005v-16a.995.995 0 0 0-.823-.98L29 11v14.5a1.5 1.5 0 0 1-1.5 1.5H16.559L16 28.118L15.441 27H4.5A1.5 1.5 0 0 1 3 25.5V11l.323-.484Z"/></svg>
          </div>
          <div class="close_book">
            <svg width="24" height="24" viewBox="0 0 32 32"><g fill="#AAA"><path d="M24.56 4a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h.5a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-.5ZM12 18.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-.5Zm4 5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-.5ZM12.44 6.354a.5.5 0 0 1 0-.708l1.414-1.414a.5.5 0 0 1 .707 0l.353.354a.5.5 0 0 1 0 .707L13.5 6.707a.5.5 0 0 1-.707 0l-.354-.353Zm3.914 3.292a.5.5 0 0 0 0 .707l.353.354a.5.5 0 0 0 .707 0l1.414-1.414a.5.5 0 0 0 0-.707l-.353-.354a.5.5 0 0 0-.707 0l-1.415 1.414Zm4.292 3.708a.5.5 0 0 1 .707 0l1.415 1.414a.5.5 0 0 1 0 .707l-.354.353a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 0-.707l.353-.354Zm5.182 5.414l-1.414-1.414a.5.5 0 0 0-.707 0l-.354.353a.5.5 0 0 0 0 .707l1.415 1.414a.5.5 0 0 0 .707 0l.353-.353a.5.5 0 0 0 0-.707ZM12.5 9a.5.5 0 0 0-.5.5v.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-.5a.5.5 0 0 0-.5-.5h-2Zm4 5a.5.5 0 0 0-.5.5v.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-.5a.5.5 0 0 0-.5-.5h-2Zm4.854-9.646a.5.5 0 0 0-.707 0l-.354.353a.5.5 0 0 0 0 .707l1.414 1.415a.5.5 0 0 0 .707 0l.354-.354a.5.5 0 0 0 0-.707l-1.414-1.414Zm2.414 4a.5.5 0 0 1 .707 0l1.414 1.414a.5.5 0 0 1 0 .707l-.353.354a.5.5 0 0 1-.708 0l-1.414-1.415a.5.5 0 0 1 0-.707l.354-.353ZM12.354 23.646a.5.5 0 0 0 0 .708l.353.353a.5.5 0 0 0 .707 0l1.414-1.414a.5.5 0 0 0 0-.707l-.353-.354a.5.5 0 0 0-.707 0l-1.414 1.415ZM8.927 17.5a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-.5a.5.5 0 0 1-.5-.5v-2ZM24.56 22a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h.5a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-.5ZM20 18.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-.5ZM16.75 5a.75.75 0 0 0 0 1.5h1.5a.75.75 0 0 0 0-1.5h-1.5ZM9.677 8a.75.75 0 0 0-.75.75v1.5a.75.75 0 0 0 1.5 0v-1.5a.75.75 0 0 0-.75-.75Zm15.133 5a.75.75 0 0 0-.75.75v1.5a.75.75 0 0 0 1.5 0v-1.5a.75.75 0 0 0-.75-.75ZM20 9.75a.75.75 0 0 1 .75-.75h1.5a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75Zm-7.47 5.78a.75.75 0 0 1 0-1.06l1.061-1.061a.75.75 0 0 1 1.06 1.06l-1.06 1.061a.75.75 0 0 1-1.06 0Zm4 4a.75.75 0 0 0 1.061 0l1.06-1.06a.75.75 0 0 0-1.06-1.061l-1.06 1.06a.75.75 0 0 0 0 1.061Zm3.94 3a.75.75 0 0 1 1.06 0l1.061 1.061a.75.75 0 1 1-1.06 1.06l-1.061-1.06a.75.75 0 0 1 0-1.06Z"/><path d="M4.5 3.5a2 2 0 0 1 2-2H25A2.5 2.5 0 0 1 27.5 4v23.5H7a.5.5 0 0 0 0 1h20.622l-.236.667A2 2 0 0 1 25.5 30.5h-19a2 2 0 0 1-2-2v-25Zm22 .5A1.5 1.5 0 0 0 25 2.5H8.5v2.147l.293-.294a.5.5 0 0 1 .707 0l1.415 1.415a.5.5 0 0 1 0 .707l-.354.353a.5.5 0 0 1-.707 0L8.5 5.475v8.172l.293-.293a.5.5 0 0 1 .707 0l1.414 1.414a.5.5 0 0 1 0 .707l-.353.353a.5.5 0 0 1-.707 0L8.5 14.475v8.205a.75.75 0 0 1 1.177-.15l1.06 1.061a.75.75 0 1 1-1.06 1.06l-1.06-1.06a.75.75 0 0 1-.117-.15V25.5h18V4Z"/></g></svg>
          </div>
        <% end %>
      </div>
      <p style="padding-left:5px">Liste de lecture</p>
    <% end %>

    <% if current_account&.voted_for? @question, vote_scope: :readlist %>
      <%= button_to question_remove_to_readlist_url(@question), class:"close_button", method: :put do %>
        <div style="display:flex; align-items:center">
          <svg width="24" height="24" viewBox="0 0 21 21"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m7.5 7.5l6 6m0-6l-6 6"/></svg>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>