<% if !@question[:tags].empty? %>
  <div style="display:flex; align-items:center; justify-content:flex-start">
    <p style="margin-right:7px; font-style:italic; opacity:.5"><%= "#" + @question[:tags].gsub!(", ", ", #") %></p>
  </div>
<% end %>