

<div class="container">

<p style="color: green"><%= notice %></p>

  <h1>Questions</h1>
  <div style="height:25px"></div>
  <% @questions.desc.each do |question| %>
    <% @question = question %>
    <%= render "index_question", question: {question: @question} %>
  <% end %>

  <%= link_to "New question", new_question_path, class: "btn btn--primary" %>
</div>
