<div class="container">
<p style="color: green"><%= notice %></p>

<h1>Questions</h1>

<div id="questions" class="">
  <% @questions.each do |question| %>
    <%= render question %>
  <% end %>
</div>
<div style="width:100%; height:70px"></div>
<%= link_to "Nouvelle question", 
            new_question_path,  
            class: "btn btn--primary", 
            data: { turbo_frame: dom_id(Question.new) } %>
<%= turbo_frame_tag dom_id(Question.new) %>
</div>
