
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 5%, 25%);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(0, 0%, 13%);
    color: hsl(0, 0%, 94%);
  }
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-headers);
}

@media (prefers-color-scheme: light) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text-header);
  }
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #FFF;
  }
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-l);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 200ms;

  &:hover {
    text-decoration: underline;
    transition: all .3s;
  }

  &:focus,
  &:active {
    color: var(--color-primary-rotate);
  }
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

#root, #__next {
  isolation: isolate;
}