
<div class="home__container my">
  <div class="left__part">
   <div class="menu__principal">
     <p>debut--gauche</p>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <p>fin--gauche</p>
   </div>
  </div>
  <div class="center__part">
    <% @candies.each do |kandy| %>
      <%= render KandyComponent.new(kandy: kandy) %>
    <% end %>
  </div>
  <div class="right__part">
    <div>
      <p>debut--droite</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>fin--droite</p>
    </div>
  </div>
</div>
