.container {
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-left: auto;
  margin-right: auto;

  @include media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 60rem;
  }
}


.form__container {
  margin-left:auto;
  margin-right: auto;
  width: 100%;
  max-width:607px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include media(tablet) {
    margin-left:auto;
    margin-right: auto;
    width: 80.66%;
    max-width:607px;
  }

  @include media(hd) {
    margin-left:auto;
    margin-right: auto;
    width: 66.66%;
    max-width:607px;
  }

}