.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  width: 100%;

  @include media(tabletAndUp) {
    max-width: 60rem;
    padding-left: var(--space-m);
    padding-right: var(--space-m);
  }
}

.home__container {
  margin: 0;
  max-width: 1440px;
  width: 100%;
  &.my {
    padding-bottom: 5rem;
    padding-top: 3rem;
  }
  
  & .left__part {
    bottom: 0;
    box-sizing: border-box;
    display: block;
    left: 0;
    overflow-y: auto;
    padding-left: var(--space-4xl);
    padding-right: var(--space-2xl);
    position: fixed;
    top: 120px;
    width: 25%;
    z-index: 30;
    
    & .menu__principal {
      box-sizing: border-box;
      display: block;
      position: relative;
    }
  }
  & .center__part {
    border-bottom-color: transparent;
    border-left-color: var(--color-border);
    border-right-color: var(--color-border);
    border-style: solid;
    border-top-color: transparent;
    display: block;
    height: auto;
    margin-left: 25%;
    margin-right: 33%;
    overflow-y: auto;
    padding-left: var(--space-m);
    padding-right: var(--space-m);
    width: 42%;
  }
  & .right__part {
    bottom: 0;
    box-sizing: border-box;
    display: block;
    overflow-y: auto;
    padding-left: var(--space-2xl);
    padding-right: var(--space-4xl);
    position: fixed;
    right: 0;
    top: 120px;
    width: 33%;
    z-index: 20;
    
  }
}

.form__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 607px;
  padding: 0 1.5rem;
  width: 100%;
  &.my {
    padding-bottom: 5rem;
    padding-top: 3rem;
  }
  
  &.mt {
    padding-top: 3rem;
  }
    
  &.mt-m {
    padding-top: 1rem;
  }
  
  &.mb {
    padding-bottom: 5rem;
  }


  @include media(tablet) {
    margin-left: auto;
    margin-right: auto;
    max-width: 607px;
    width: 80.66%;
    &.my {
      padding-bottom: 5rem;
      padding-top: 3rem;
    }
  
    &.mt {
      padding-top: 3rem;
    }
      
    &.mt-m {
      padding-top: 1rem;
    }
  
    &.mb {
      padding-bottom: 5rem;
    }
  }

  @include media(hd) {
    margin-left: auto;
    margin-right: auto;
    max-width: 607px;
    width: 66.66%;
    &.my {
      padding-bottom: 5rem;
      padding-top: 3rem;
    }
    
    &.mt {
      padding-top: 3rem;
    }
    
    &.mt-m {
      padding-top: 1rem;
    }
  
    &.mb {
      padding-bottom: 5rem;
    }
  }

}
