<div class="form__container my">
  <h2>Bienvenue sur le Dashboard</h2>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae libero magni minima nemo perspiciatis quam quas qui reiciendis, rem repudiandae sed sequi similique temporibus veritatis voluptatum? Ipsam, laudantium!</p>
</div>