.btn {
  display: inline-block;
  // padding: var(--space-2xs) var(--space-m);
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius-l);
  background-origin: border-box; // Invisible borders with linear gradients
  font-weight: 500;
  border: 1px solid transparent;
  background-color: var(--btn_default-bg-color);
  font-size:var(--font-size-s);
  font-family: var(--font-family-sans);
  text-decoration: none !important;
  color: var(--color-primary);
  cursor: default;
  outline: none;
  transition: filter 400ms, color 200ms, background-color 500ms;


  &__box{
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    padding: 0.75rem 0.25rem;
    vertical-align: middle;
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    background-color: var(--btn_default-bg-hover-color);
    transition: filter 400ms, color 200ms, background-color 300ms;
  }

  &--black {
    background-color: var(--btn_dark-bg-color);
    color: var(--btn_dark-text-color);
    border: var(--btn_dark-border);

    &:hover,
    &:focus-within {
      background-color: var(--btn_dark-bg-hover-color);
      transition: filter 250ms, color 200ms, background-color 300ms;
      border-color:(--color-white);
    }
  }

  &--primary {
    background-color: var(--color-primary);
    color: var(--btn_dark-text-color);
    border-color: var(--color-primary);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      // filter: saturate(0.1)  brightness(15%);
      background-color: var(--color-primary--hover);
      transition: filter 250ms, color 200ms, background-color 300ms;
      border-color:(--color-primary--hover);
    }
  }

  &--default {
    color: var(--color-white);
    background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--secondary {
    color: var(--color-white);
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary-rotate));

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.2) brightness(110%);
    }
  }

  &--light {
    color: var(--color-dark);
    background-color: var(--color-light);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-dark);
      filter: brightness(92%);
    }
  }
}