

.menu__principal-item:hover {
  background-color: var(--bg-color-hover-high);
  border-radius: 12px;
  
  div,  p {
    color: var(--color-text-body-high) !important;
    text-decoration-line: none;
  }
}

.top__layout {
  backdrop-filter: blur(14px);
  background-color: var(--bg-color-header);
  border-bottom-color: var(--color-border);
  border-left-color: var(--color-border);
  border-right-color: var(--color-border);
  border-style: solid;
  border-top-color: transparent;
  margin-top: -2px;
  position: fixed;
  right: 33%;
  width: 42%;
  z-index: 1000;
}

.menu__principal-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  padding: 8px 16px;
}

.menu__principal-item--a {
  align-items: center;
  column-gap: 0.75rem;
  display: flex;
  text-decoration-line: none;
}

.menu__principal-item--p {
  color:var(--color-text-body-high);
  font-size:1.2rem;
  font-weight:400;
  text-decoration-line: none;
}

a.menu__principal-item {
  text-decoration-line: none;

}
input[type=file]::-webkit-file-upload-button {
  border: 1px solid grey;
  border-radius: var(--border-radius-l);
  background: var(--color-primary);
  padding: 7px 14px;
  color: white;
  border-color: transparent;
  transition: background-color 500ms;
  &:hover {
    transition: background-color 300ms;
    background-color: var(--color-primary--dark);
  }
}

.menu__principal-number {
  background-color: var(--color-text-body-high);
  border-radius: 7px;
  color: var(--color-text-body);
  font-size: .7rem;
  font-weight: bold;
  min-width: 25px;
  text-align: center;
  margin: auto 0;
  padding: 2px 4px;
  &.yellow {
    background-color: var(--yellow__colorLight);
    color: var(--yellow__colorDark);
    border: 1px solid transparent;
    &:hover {
      border: 1px solid var(--yellow__colorMiddle);
    }
  }
  &.red {
    background-color: rgba(255, 0, 0, 0.17);
    color: red;
    border: 1px solid rgba(255, 0, 0, 0.21);
    &:hover {
      border: 1px solid red;
    }
  }
  &.green {
    background-color: rgba(173, 255, 47, 0.16);
    color: greenyellow;
    border: 1px solid rgba(173, 255, 47, 0.21);
    &:hover {
      border: 1px solid greenyellow;
    }
  }
  &.gray, &.grey {
    background-color: rgba(211, 211, 211, 0.17);
    color: lightgray;
    border: 1px solid rgba(211, 211, 211, 0.21);
    &:hover {
      border: 1px solid lightgray;
    }
  }
}

.top__search {
  color:var(--color-text-body);
  padding:10px 14px;
  padding-left: 45px;
  font-size: small;
  border-radius:40px;
  border-color: transparent;
  //border: 1px solid var(--color-background);
  background-color:rgba(206,207,213,.27);
  backdrop-filter: blur(2px);
  outline: none;
  width:400px;

  + div svg {
    stroke: #7E7F85;
  }

  &::placeholder {
    color: #B4B5BB;
    font-style: italic;
    transition: all .5s;
  }

  &:focus {
    border: 1px solid var(--color-primary);

    + div svg {
      stroke: var(--color-primary);
    }

    &::placeholder {
      opacity: 0;
      transition: all .3s;
    }
  }
}

.top__item {
  align-items: center;
  background-color: rgba(201,202,208,.27);
  border: .5px solid rgba(201,202,208,.27);
  border-radius: 40px;
  color: var(--color-text-body);
  display:flex;
  font-size: small;
  justify-content: center;
  padding: 7px 14px;
  transition: color .5s;
  white-space: nowrap;

  &:hover {
    color:var(--color-primary);
    cursor: default;
    transition: color .3s;
    /*border: 0.5px solid var(--color-primary);*/
  }
  &.selected {
    /*background-color: black;*/
    /*border: .5px solid black;*/
    /*color: white;*/

    background-color: var(--bg-color__button-kandy);
    border: .5px solid black;
    color: var(--color-text__button-kandy);
  }
}
          