.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: full;
    left: 0;
    right: 0;
    margin-top: 0;
    backdrop-filter: blur(17px);
    background-color: var(--bg-color-header);
    padding: var(--space-m) var(--space-2xl);
    margin-bottom: var(--space-xxl);

    &__brand {
        font-weight: bold;
        font-size: var(--font-size-xl);
        color: var(--color-text-header);

        &_title {
          color:var(--color-text-body);
          margin-left: var(--space-l);
          margin-right: auto;
          text-decoration: none !important;
          font-family: 'Climate Crisis', cursive;
        }
    }

    &__name {
        font-weight: bold;
        margin-left: auto;
        display:flex; 
        align-items:center; 
        justify-content:end; 
        position:relative;
        margin-right: var(--space-s);
        color: var(--color-text-header);
        &_avatar-box {
          display:flex; 
          align-items:center;  
          justify-content: center;
        }

        &_image {
          object-fit: cover; 
          object-position: 
          center;
          width:100%; 
          height:100%; 
          border: 2px solid transparent; 
          border-radius:100%;
        }

        &_link {
          font-family: var(--font-family-sans);
          font-weight: 600;
          line-height:0.7;
          margin-top:4px;
          font-size: var(--font-size-s);
          color: var(--color-text-body);
          transition: filter 250ms, color 500ms;
          &.active {
            color: var(--color-primary) !important;
            transition: filter 250ms, color 300ms;
          }
        }

        &_pseudo {
          font-family: var(--font-family-sans);
          font-weight: 400;
          font-size: var(--font-size-xs);
          color: var(--color-text-pseudo);
        }

        &_button {
          background-color: transparent;
          border: 1px solid transparent;
          display:flex; 
          align-items:center;
          column-gap: 2px;
        }

        &_menu {
          list-style-type: none;
          min-width: 200px !important;
          border-radius: var(--border-radius-m);
          padding: var(--space-s) 0;
          position: absolute;
          margin:0;
          margin-top:400px;
          transform-origin: top right;
          background-color: var(--bg-color);
          z-index: 50;
          right: 0px;
          transition: filter 250ms, color 200ms, background-color 300ms;
          row-gap: var(--space-2xl);
          box-shadow: var(--shadow-cm);
          li {
            display:flex;
            align-items:center;  
            column-gap: 12px;
            margin: var(--space-s) 0;

            .separator {
              border-bottom:1px dashed var(--color-separator);
              width: 100%;
              padding:0;
              margin: var(--space-xs) 0px;
            }

            .icon {
              margin-top: auto;
              margin-bottom: auto;
              margin-left: var(--space-l);
              margin-right: 0px;
              &.logout {
                color:red !important;
              }
            }

            a {
              line-height: var(--line-height-link);
              user-select: none;
              font-weight:400;
              margin-top:auto;
              margin-bottom: auto;
              margin-right: var(--space-l);
              color:var(--color-text-header);
              font-size: var(--font-size-s);
              &.logout {
                color:red !important;
              }
              
            }
          }
        }
    }

    &__right {
        margin-left: auto;
    }
}
