<% # encoding: UTF-8 %>
<div class="form__layout">
  <% if rodauth.field_error(rodauth.password_param) && rodauth.features.include?(:reset_password) %>
    <%= render template: "rodauth/reset_password_request", layout: false %>
  <% end %>

  <h2 style="letter-spacing: -0.025em;">Connectez-vous à Kandapedia</h2>
  <p style="font-size:3rem; margin-top:.7rem; font-weight:700; line-height:2.7rem; letter-spacing:0.3">Renseignez vos identifiants</p>
  <ul class="mb-2 list-disc">
    <li class="mb-1">
    Pas encore inscrit&nbsp;?&nbsp;<%= link_to "Inscrivez-vous", rodauth.create_account_path,  class: "link" %>
    </li>
    <li class="">
      Mot de passe oublié&nbsp;?&nbsp;<%= link_to "Réinitialisez-le", rodauth.change_password_path,  class: "link" %>
    </li>
  </ul>
</div>
